.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }

 #cookies{
    text-align: center;

  }

  body {
    background-color: #475a78;
  }

  h1 {
    margin: 30px;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #11cdd4;
  }

  p {
    font-size: 2rem;
    color: #11cdd4;
  }

  img {
    width: 40%;
    cursor: pointer;
  }

  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
    background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
    background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
    background-image: -o-linear-gradient(top, #11cdd4, #1199e);
    background-image: linear-gradient(to bottom, #11cdd4, #1199e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
